<!DOCTYPE html>
<html lang="ru" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.min.css">
</head>
<!--когда мы хотим использовать disable для элемента в зависимости от условия то мы этого не можем сделать так как функционал этого атрибуте это не предусматривает
для этого в AngularJS предусмотрены специальные директивы которые могут применятся в зависимости от условия, эти директивы применимы только как атрибуты
ng-checked используется для установки значения выбран\не выбран для input
ng-disabled используется для disable элемента применяется для input и button
ng-readonly используется для атрибута readonly применяется к input
ng-selected используется для атрибута selected в option-->
<!--ng-href используется для указания url в href
ng-src используется для указания физического пути-->
<body class="text-center well">

     <div id="tasksPanel" class="panel" ng-controller="ListCtrl">
        <div class="panel-heading">
            <div class="panel-title">
                <h2>
                    Incomplete tasks
                    <span class="label label-info">
                        {{(tasks | filter : {complete:'false'}).length}}
                        <!--здесь используется фильтр с помощью директивы filter, он указывает на те элементы которые помечены как false и с помощью length получает их колличество,
                        так же здесь используется class='label label-info' Bootstrap для визуального оформленеия-->
                    </span>
                </h2>
            </div>
        </div>        
        <div id="panel" class="panel-body">
            <div class="row">
                <div class="col-sm-4 col-md-4" ng-repeat="task in tasks">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h3>{{task.action}}</h3> <!-- добавляем в ячейку. -->
                            </div>
                        </div>
                        <div class="panel-body">
                            <input type="checkbox" ng-model="task.complete">
                            <!--ng-model используется для создания two-way binding, в таком случае при изменении состояния checkbox будет изменятся содержимое модели,
                                и все one-way или two-way bindings которые используют значения модели-->
                                {{task.complete}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="libs/jquery/jquery.js"></script>
    <!-- <script src="libs/bootstrap-material-design/js/material.js"></script> -->
    <!-- <script src="libs/bootstrap-material-design/js/ripples.js"></script> -->
    <!-- AngularJs vDependencies -->
    <script src="libs/angular/angular.concat.js"></script>
    <!-- Our JS App Fies -->
    <script src="app/app.js"></script>
</body>
</html>