<!DOCTYPE html>
<html lang="ru" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.min.css">
</head>
<body>
    <style>
        .odd {
            background-color: #f7d474;
        }

        .even {
            background-color: #d6b6f3;
        }
    </style>

     <div id="tasksPanel" class="panel" ng-controller="ListCtrl">
        <h3 class="panel-header">Tasks List</h3>
        <!--генерация однотипных элементов самая распространенная задаче в разработке для этого следует использовать директиву ng-repeat-->
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tasks</th>
                    <th>Done</th>
                </tr>
            </thead>
            <tr ng-repeat="task in tasks" ng-class="$even?'odd':'even'">
                <td>{{$index + 1}}</td>
                <td>{{task.action}}</td>
                <td><span ng-if="$first || $last">{{task.complete}}</span></td>
                <!--ng-if используется для отображения элемента в DOM  в зависимости от условия
                например "$first || $last" означает что будут отображены в DOM  только 1й и последний элементы-->
            </tr>
        </table>
    </div>
    <script src="libs/jquery/jquery.js"></script>
    <!-- <script src="libs/bootstrap-material-design/js/material.js"></script> -->
    <!-- <script src="libs/bootstrap-material-design/js/ripples.js"></script> -->
    <!-- AngularJs vDependencies -->
    <script src="libs/angular/angular.concat.js"></script>
    <!-- Our JS App Fies -->
    <script src="app/app.js"></script>
</body>
</html>